/ListaPersonas/nbproject/private/
/ListaPersonas/build/
/muestreointerfazusuario/nbproject/private/
/muestreointerfazusuario/build/
/Examen/nbproject/private/
/Examen/build/
/05Conexion BD/nbproject/private/
/05Conexion BD/build/
/WebApplication1/nbproject/private/
/x/nbproject/private/
/Consultar/nbproject/private/
/nbproject/private/
/build/
